### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [345]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [346]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [347]:
total_players=len(purchase_data['SN'].unique())
total_players

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [348]:
#unique items 
unique_items=purchase_data['Item Name'].value_counts()
unique_items
number_unique=len(unique_items)
number_unique

179

In [349]:
#average price 
average_price=purchase_data["Price"].mean()
average_price
#format to be in $$

3.050987179487176

In [350]:
#Total number of purchases
total_purchase=purchase_data['Price'].count()
total_purchase

780

In [351]:
#Total Revenue
total_revenue=purchase_data['Price'].sum()
total_revenue
#format to be in $$$

purchase_analysis = pd.DataFrame({" Number of Unique Items" : [number_unique],
        "Average Price" : [average_price],
        "Total Purchases" : [total_purchase],
        "Total Revenue" : [total_revenue]
    })
purchase_analysis

    Number of Unique Items  Average Price  Total Purchases  Total Revenue
0                      179       3.050987              780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [352]:
count = purchase_data.groupby('Gender')['SN'].nunique()

percent=(count/total_players)*100
#format into percents!!

In [353]:
demo=pd.DataFrame({'Total Count':count, 'Percent':percent})
demo

                       Total Count    Percent
Gender
Female                          81  14.062500
Male                           484  84.027778
Other / Non-Disclosed           11   1.909722


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [354]:
purchase_count = purchase_data.groupby('Gender')['Purchase ID'].nunique()
purchase_count

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase ID, dtype: int64

In [355]:
total_purchase_by_gender=purchase_data.groupby('Gender')["Price"].sum()
total_purchase_by_gender
average=(total_purchase_by_gender/purchase_count)
average

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
dtype: float64

In [356]:
purchase_analysis=pd.DataFrame({'Purchase Count':purchase_count,'Average Purchase Price':average})
purchase_analysis

                       Purchase Count  Average Purchase Price
Gender
Female                            113                3.203009
Male                              652                3.017853
Other / Non-Disclosed              15                3.346000

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [357]:
bins=[0,9.9,14.9,19.9,24.9,29.9,34.9,39.9,99999999999]
groups=['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+']
purchase_data['Age Range']=pd.cut(purchase_data['Age'],bins,labels=groups)
summary_range= purchase_data.groupby('Age Range')
total_age=summary_range['SN'].nunique()
age_demo=pd.DataFrame({'Total Count':total_age})
age_demo

percent=(total_age/total_players)*100
percent
age_demo['Percentage of PLayers']=percent
age_demo

           Total Count  Percentage of PLayers
Age Range
<10                 17               2.951389
10-14               22               3.819444
15-19              107              18.576389
20-24              258              44.791667
25-29               77              13.368056
30-34               52               9.027778
35-39               31               5.381944
40+                 12               2.083333

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [358]:
age_counts=purchase_data['Age Range'].value_counts()
purchase_analysis_age=pd.DataFrame({'Purchase Count':age_counts})
purchase_analysis_age

#average purchase price 
# purchase_analysis_age['Average Purchase']=purchase_data.groupby('Age')['Price']
average_purchase_price_by_age=purchase_data.groupby('Age Range')["Price"].mean()
purchase_analysis_age['Average Purchase Value']=average_purchase_price_by_age
#total by person
total_purchase_price_by_age=purchase_data.groupby('Age Range')["Price"].sum()

purchase_analysis_age['Total Purchase Value']=total_purchase_price_by_age
# purchase_analysis_age
# # Avg Total Purchase per Person
avg_total_purchase= round(total_purchase_price_by_age/total_age,2)
purchase_analysis_age['Average Total Purchase per Person']=avg_total_purchase
purchase_analysis_age

,Purchase Count,Average Purchase Value,Total Purchase Value,Average Total Purchase per Person
20-24,365,3.052219,1114.06,4.32
15-19,136,3.035956,412.89,3.86
25-29,101,2.900990,293.00,3.81
30-34,73,2.931507,214.00,4.12
35-39,41,3.601707,147.67,4.76
10-14,28,2.956429,82.78,3.76
<10,23,3.353478,77.13,4.54
40+,13,2.941538,38.24,3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [405]:
player_id=purchase_data.groupby(['SN'])
player_group=player_id['Price'].sum()
top_players=player_group[0:5]
purchase_count_top=player_id['Purchase ID'].count()
top_purchase_count=purchase_count_top[0:5]
avg_purchase_top=(player_group/purchase_count_top)


top_spenders=pd.DataFrame({'Purchase Count':purchase_count_top,'Average Purchase':avg_purchase_top,'Total Purchase Value':player_group})
top_spenders.sort_values(by='Purchase Count',ascending=False).head()

             Purchase Count  Average Purchase  Total Purchase Value
SN
Lisosia93                 5          3.792000                 18.96
Iral74                    4          3.405000                 13.62
Idastidru52               4          3.862500                 15.45
Asur53                    3          2.480000                  7.44
Inguron55                 3          3.703333                 11.11

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [430]:
sort_id=purchase_data.groupby(['Item ID','Item Name'])
purchase_id_count=sort_id['Item Name'].count().sort_values(ascending=False)
total_item_price=sort_id['Price'].sum().sort_values(ascending=False)
item_price=total_item_price/purchase_id_count

most_popular=pd.DataFrame({'Purchase Count':purchase_id_count,'Item Price':item_price,"Total Purchase Value":total_item_price})
most_popular.sort_values(by='Purchase Count',ascending=False).head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,4.614615,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.230000,50.76
145,Fiery Glass Crusader,9,4.580000,41.22
132,Persuasion,9,3.221111,28.99
108,"Extraction, Quickblade Of Trembling Hands",9,3.530000,31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [433]:
most_popular.sort_values(by='Total Purchase Value',ascending=False).head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,4.614615,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.230000,50.76
82,Nirvana,9,4.900000,44.10
145,Fiery Glass Crusader,9,4.580000,41.22
103,Singed Scalpel,8,4.350000,34.80